.container_main {
  display: flex;
  justify-content: center;
  flex-direction: column;

}
.up {
  width: 37.6%;
  height: 10vh;
  background-color: rgb(25, 205, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 390px;
}
.box{
  background-color: rgb(22, 239, 22);
  width: 50px;
  height: 50px;
}
button{
  border: none;
}
.down {
  width: 37.6%;
  height: 8vh;
  background-color: rgb(25, 205, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 390px;
}
button:disabled{
  background-color: rgb(111, 224, 255);

}
.left {
  height: 80vh;
  width: 7%;
  background-color: rgb(25, 205, 255);
  position: relative;
  left: 24px;
}
.right {
  height: 80vh;
  width: 7%;
  background-color: rgb(25, 205, 255);
  position: relative;
  right: 76px;
}
.midContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/* 
.container_main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.up,
.down {
  width: 37.6%;
  height: 10vh;
  background-color: rgb(25, 205, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 390px;
}

.box {
  background-color: rgb(22, 239, 22);
  width: 50px;
  height: 50px;
}

button {
  border: none;
}

.down {
  height: 8vh;
}

button:disabled {
  background-color: rgb(111, 224, 255);
}

.left,
.right {
  height: 80vh;
  width: 7%;
  background-color: rgb(25, 205, 255);
  position: relative;
}

.left {
  left: 24px;
}

.right {
  right: 78px;
}

.midContainer {
  display: flex;
  justify-content: space-evenly;
} */
